/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #2c3e50;
  background-color: #f7f9fc;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

/* Навигация */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

nav a {
  color: #333;
  font-size: 24px;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: #007bff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #2c3e50;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #5f9cd5;
}

/* Заголовки */
h2 {
  display: block;
}

/* Hero-секция */
.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: fade-in 1.5s ease-out;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero-content p {
  font-size: 24px;
  color: #ffffff;
}

/* Кнопки */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5f9cd5;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2c3e50;
}

/* Услуги */
.services,
.promotions,
.testimonials {
  padding: 50px;
}

.services .services-header {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.services .services-header h2 {
  display: block;
  padding: 5px 20px;
  z-index: 1;
  position: relative;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.service-card {
  position: relative;
  width: calc(100% / 4 - 30px);
  margin: 0 15px 20px;
  text-align: center;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.service-card:hover {
  transform: scale(1.05);
}

.service-card img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}

.service-card h3 {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  margin-top: 10px;
}

.service-card p {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}

/* Адаптивность */
@media screen and (max-width: 1200px) {
  .service-card {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (max-width: 768px) {
  .service-card {
    width: 100%;
    margin: 0 0 20px;
  }
}

/* Спецпредложения */
.promotions {
  text-align: center;
}

.promotions h2 {
  margin-bottom: 30px;
}

.promotion-card {
  display: inline-block;
  width: 48%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  vertical-align: top;
  margin-bottom: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.promotion-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #2c3e50;
  text-align: center;
}

.promotion-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.promotion-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Отзывы */
.testimonials {
  text-align: center;
  padding: 20px;
}

.testimonials h2 {
  text-align: center;
  margin-bottom: 30px;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin-top: 10px;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #ffffff;
}

.slide {
  display: none;
  position: relative;
}

.slide.active {
  display: block;
}

.prev-slide,
.next-slide {
  background-color: #2c3e50;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
  border-radius: 3px;
}

.prev-slide:hover,
.next-slide:hover {
  opacity: 1;
}

.slide p {
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.slide span {
  display: block;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.slide img.avatar {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50px;
}

.slide p {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/img/empty-star-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.star:last-child {
  margin-right: 0;
}

.star.full {
  background-image: url("/img/star-icon.svg");
}

/* footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 15px;
  background-color: #ffffff;
  flex-wrap: wrap;
}

.contact-info,
.social-links {
  margin: 20px;
}

.contact-info h4,
.social-links h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 10px;
}

.social-links h4 {
  display: block;
}

.social-links .social-link {
  display: inline-block;
  font-size: 24px;
  color: #333;
  margin: 0 5px;
  transition: color 0.3s;
}

.social-links .social-link:hover {
  color: #007bff;
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  width: 100%;
  text-align: center;
  order: 3;
}

/* hero-услуг */

.services-hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 75vh;
}

.services-slides {
  display: flex;
  transition: transform 1s;
}

.services-slide {
  min-width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.services-bg {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: 1;
  opacity: 1;
  transition: opacity 1s;
}

.services-info {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  color: #ffffff;
}

.services-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.services-description {
  font-size: 24px;
  margin-bottom: 30px;
}

.services-button {
  max-width: 75px;
  padding: 12px 24px;
  background-color: #5f9cd5;
  color: #ffffff;
  text-decoration: none;
  border-radius: 6px;
  font-size: 18px;
  transition: 0.25s;
}

.services-button:hover {
  background-color: #2c3e50;
}

.container {
  max-width: 1600px; 
  margin: 0 auto; 
  padding: 0 20px; 
}


.services-cards {
  padding: 50px 0;
}

.section-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-items: center;
}

.service-card {
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  width: 100%;
  max-width: 350px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.service-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 24px;
  margin: 15px 0;
  text-align: center;
}

.card-description {
  font-size: 16px;
  padding: 0 15px 15px;
  text-align: center;
}

/* modal window */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  display: flex;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.modal-left, .modal-right {
  flex: 1;
  padding: 20px;
}

.modal-right {
  border-left: 1px solid #888;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.add-to-cart {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #008CBA;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.add-to-cart:hover {
  background-color: white;
  border: 2px solid #008CBA;
  color: black;
}

.service-dropdown-list {
  list-style-type: none;
  padding: 0;
}

.service-dropdown-item {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.service-dropdown-item i {
  margin-right: 10px;
}

.detail-button {
  background-color: #008CBA; 
  border: none;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.detail-button:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

/* cart */

.cart-hero {
  padding: 2rem;
  text-align: center;
}

.cart-hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.cart-hero-content h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.cart-hero-content p {
  font-size: 1.125rem;
  color: #666;
  line-height: 1.5;
}

.cart-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 800px;
  margin: 2rem auto;
}

.cart-items {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.cart-item:hover {
  border-color: #333;
  background-color: #f6f6f6;
}

.cart-item i {
  margin-right: 10px;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  border-top: 2px solid #333;
  padding-top: 20px;
}

.checkout-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  color: #fff;
  background: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.checkout-button:hover {
  background: #444;
  transform: scale(1.05);
}

.checkout-button:active {
  background: #222;
  transform: scale(0.95);
}

.delete-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f44336; 
  color: #ffffff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #d32f2f; 
}


.toast {
  visibility: hidden;
  max-width: 250px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  transform: translateX(-50%);
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.toast.show {
  visibility: visible;
  opacity: 1;
}

.toast-link {
  color: #fff;
  text-transform: lowercase;
  text-decoration: underline;
  font-size: 12px;
}

.cart-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); 
  animation: fadeIn 0.5s;
}

.cart-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  animation: slideDown 0.5s;
}

/* Стили для формы */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Анимации */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes slideDown {
  from {top: -300px; opacity: 0;}
  to {top: 0; opacity: 1;}
}

#checkoutForm fieldset {
  margin-bottom: 20px;
}

#checkoutForm label {
  display: block;
  margin-bottom: 10px;
}

#checkoutForm input[type="text"],
#checkoutForm input[type="email"],
#checkoutForm input[type="tel"] {
  width: 97%;
  padding: 10px;
  margin-bottom: 10px;
}

#checkoutForm input[type="submit"] {
  background-color: #4CAF50; 
  color: white;
  padding: 15px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: 0.5s;
}

#checkoutForm input[type="submit"]:hover {
  background-color: #45a049;
}

#checkoutForm input[type="submit"]:active {
  background-color: #2e6d31;
}

/* about */

.about-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background: url('/img/about-bg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-hero-content {
  text-align: center;
  color: #fff; 
  max-width: 800px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.about-hero-content h1 {
  font-size: 2.5em;
}

.about-hero-content p {
  font-size: 1.2em;
  margin-top: 20px;
}

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-hero-content {
  animation: slideIn 0.75s ease-in;
}

.about-company {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background-color: #f7f7f7; 
}

.about-company h2 {
  font-size: 2em;
  margin-bottom: 50px;
}

.about-company ul {
  list-style-type: none; 
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.about-company ul li {
  flex-basis: 45%; 
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1); 
  position: relative; 
  cursor: pointer;
}

.about-company ul li::before {
  content: '';
  position: absolute;
  top: -10px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-image: url('/path/to/your/icon.png');
  background-size: cover;
}

.about-company ul li {
  display: flex;
  align-items: center;
}

.about-company ul li i {
  margin-right: 10px;
  color: #007bff; /* Синий цвет для иконок */
}

.about-history {
  padding: 90px 0;
}

.about-history h2 {
  font-size: 3em;
  margin-bottom: 50px;
  text-align: center;
}

.about-history p {
  font-size: 1.2em;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 30px;
  padding: 30px 120px 10px 120px;
}



@media screen and (max-width: 600px) {
  .cart-modal-content {
    width: 95%;
  }
}


/* Адаптивность */

@media (min-width: 768px) {
  .cart-hero-content h1 {
    font-size: 3rem;
  }

  .cart-hero-content p {
    font-size: 1.375rem;
  }
}

@media (max-width: 767px) {
  .logo {
    font-size: 24px;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  nav ul li {
    margin-left: 0;
  }

  nav a {
    font-size: 20px;
    margin: 5px 0;
  }
}

/* Планшеты */
@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    font-size: 28px;
  }

  nav {
    display: flex;
  }

  nav a {
    font-size: 20px;
  }
}

/* Десктопы */
@media (min-width: 1024px) {
  .logo {
    font-size: 30px;
  }

  nav {
    display: flex;
  }

  nav a {
    font-size: 24px;
  }
}


@media (max-width: 768px) {
  .slider {
    width: 90%;
    margin: 0 auto;
  }

  .prev-slide,
  .next-slide {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .slider {
    width: 80%;
    margin: 0 auto;
  }

  .prev-slide,
  .next-slide {
    top: 50%;
  }
}
/* Адаптивность карточек */
@media (max-width: 768px) {
  .promotion-card {
    width: 100%;
    margin-bottom: 15px;
  }
}

/* Адаптивность секции услуг */
@media (max-width: 768px) {
  .services {
    flex-direction: column;
  }

  .service-box {
    width: 100%;
    margin-bottom: 15px;
  }
}

/* Адаптивность секции отзывов */
@media (max-width: 768px) {
  .testimonials {
    flex-direction: column;
  }

  .testimonial-box {
    width: 100%;
    margin-bottom: 15px;
  }
}

/* Адаптивность footer */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }

  .contact-info,
  .social-links {
    width: 100%;
    text-align: center;
  }

  .contact-info h4,
  .social-links h4 {
    text-align: center;
  }

  .contact-info p {
    text-align: center;
  }

  .social-links .social-link {
    margin: 0 10px;
  }
}
