body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #2c3e50;
  background-color: #f7f9fc;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

nav a {
  color: #333;
  font-size: 18px; /* Увеличьте размер шрифта */
  text-decoration: none;
  margin: 0 10px; /* Добавьте отступы между пунктами меню */
}

nav a:hover {
  color: #007BFF;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #2c3e50;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #5f9cd5;
}

h2 {
  display: block;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  animation: fade-in 1.5s ease-out;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero-content p {
  font-size: 24px;
  color: #ffffff;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #5f9cd5;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #2c3e50;
}

.services,
.promotions,
.testimonials {
  padding: 50px;
}

.services h2 {
  text-align: center;
  margin-bottom: 30px;
}

.service-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: #ffffff;
}

.contact-info,
.social-links {
  margin: 20px;
}

.contact-info h4,
.social-links h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 10px;
}

.social-links .social-link {
  display: inline-block;
  font-size: 24px;
  color: #333;
  margin: 0 5px;
  transition: color 0.3s;
}

.social-links .social-link:hover {
  color: #007BFF;
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
  color: #333;
  width: 100%;
  text-align: center;
}

.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.service-card {
  width: 300px;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card .icon {
  font-size: 48px;
  margin-bottom: 15px;
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 16px;
}

.promotions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.promotion-card {
  width: 48%;
  height: 300px;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.promotion-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #2c3e50;
  text-align: center;
}

.promotion-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.promotion-content p {
  font-size: 16px;
  margin-bottom: 20px;
}

.testimonials {
  text-align: center;
  padding: 20px;
}

.slider {
  position: relative;
  display: inline-block;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.prev-slide,
.next-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #2c3e50;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s;
  border-radius: 3px;
}

.prev-slide:hover,
.next-slide:hover {
  opacity: 1;
}

.prev-slide {
  left: -50px;
}

.next-slide {
  right: -50px;
}

.slide p {
  font-size: 1.1em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.slide span {
  font-size: 1em;
  font-weight: bold;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.stars {
  display: inline-block;
  margin-bottom: 10px;
}

.star {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/img/empty-star-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
}

.star:last-child {
  margin-right: 0;
}

.star.full {
  background-image: url("/img/star-icon.svg");
}

@media (max-width: 768px) {
  .slider {
    width: 90%;
    margin: 0 auto;
  }

  .prev-slide,
  .next-slide {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .slider {
    width: 80%;
    margin: 0 auto;
  }

  .prev-slide,
  .next-slide {
    top: 50%;
  }
}
/* Адаптивность для секции "promotions" */
@media (max-width: 768px) {
  .promotion-card {
    width: 100%;
    margin-bottom: 15px;
  }
}

/* Адаптивность для секции "services" */
@media (max-width: 768px) {
  .service-card {
    width: 100%;
    margin-bottom: 15px;
  }
}

/* Адаптивность footer*/
@media (max-width: 768px) {
  .contact-info,
  .social-links {
    margin: 20px 0;
    text-align: center;
  }
}

/* Адаптивность */
@media (max-width: 768px) {
  header {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .hero {
    height: 80vh;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 18px;
  }

  footer {
    flex-direction: column;
  }
}
